/*register and login forms*/

.forms-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0px auto;
}

form {
    width:100%;
}

.register-container, .login-container {
    padding: 16px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=psw-repeat] {
    width: 92%;
    padding: 15px;
    margin: 5px 0px 22px 0px;
    display: inline-block;
    border: none;
    background: aliceblue;
    border-radius: 5px;
    
}

input[type=text]:focus
input[type=password]:focus
input[type=email]:focus
input[type=psw-repeat]:focus {
    background-color:beige;
    margin-bottom: 25pxs;
}

hr {
    border: 1px solid darkcyan;
    outline:none;
}

.registerbtn,
.loginbtn {
    background-color: cadetblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    border-radius: 5px;
}

.registerbtn:hover,
.loginbtn:hover {
    opacity: 1;
}

/*navigation*/

.navigation.container {
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    width: 200px;
}

.logo {
    width: 100%;
}

.nav {
    width: 35vw;
    padding: 10px 15px;
}
nav > ul {
    display: flex;
    justify-content: space-around;
    background-color: darkcyan;
}
nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}